.section.active .ani {
  opacity: 1 !important;
  transform: none !important;
}

/* y축 이동 */
.ani.y_Bottom {opacity:0; transform:translateY(40px);}
.ani.y_Bottom.moving {opacity:1; transform:translateY(0); transition:1s;}

/* x축 이동 */
.ani.x_Left {opacity:0; transform:translateX(-40px);}
.ani.x_Left.moving {opacity:1; transform:translateX(0); transition:1s;}

.ani.x_Right {opacity:0; transform:translateX(40px);}
.ani.x_Right.moving {opacity:1; transform:translateX(0); transition:1s;}

/* scale 이미지 */
.ani.scale_Img img {opacity:0; transform:scale(1.2);}
.ani.scale_Img.moving img {opacity:1; transform:scale(1); transition:1s ease-in-out;}

/* cover 효과 */
.ani.cover::after {
  content:''; position:absolute; left:0; top:0;
  width:100%; height:100%; background:#fff; transition:1s;
}
.ani.cover.moving::after {height:0;}

/* blur-in 효과 */
.ani.blur {opacity:0; filter:blur(12px);}
.ani.blur.moving {
  opacity:1; filter:blur(0);
  transition:opacity 1.2s ease, filter 1.2s ease;
}

/* fadeUp 효과 */
.ani.fadeUp {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
}
.ani.fadeUp.moving {
  opacity: 1;
  transform: translateY(0);
}

/* 딜레이 옵션 */
.delay01.moving { transition-delay: .2s; }
.delay02.moving { transition-delay: .4s; }
.delay03.moving { transition-delay: .6s; }
.delay04.moving { transition-delay: .8s; }
.delay05.moving { transition-delay: 1s; }

